body {
    background-image: url(https://drive.google.com/file/d/1_8sTBXdIr1jWipuJUuMFf_ZV-7Kciia1/view?usp=drivesdk);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
header {
    
    width: 820px;
    margin-left: calc(50% - 400px);
    display: inline-block;
}
header > ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    float: right;
    padding-right: 40px;
    text-decoration: none;
    

}
a {
    text-decoration: none;
    color: black;
}
header > img {
   display: flex;
   justify-content:left;
  
   
}
.logo {
    margin-top: 0px;
}
main {
    
    width: 820px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
    
}
main > .topdiv > h1 {
    font-size: 40px;
}
.htext {
margin-bottom: 30px;
margin-top: 0;
}
.number {
    margin-bottom: 0%;
}
main > .ptop {
    display: flex;
    margin-top: 40px;
    
    
}
main > .topdiv > p {
    margin: 0%;
    width: 320px;

}
main > .bottomdiv > .spaceman {
    width: 500px;
    margin-top: 0%;
    
}
.bottomdiv {
float: right;
display: flex;
}
.topdiv {
display: inline-block;
;
}
footer {
    
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}
button {
    margin-top: 40px;
    border-radius:42px;
	display:inline-block;
	cursor:pointer;
	padding:10px 31px;
    border-color: #61438F;
}
.first {
    color: white;
    background-color: #61438F;
}
footer {
    display:inline-block;
}
.copy {
    float: right;
    font-size: small;
}
