body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
/*HEADER*/
.main-header {   
    width: 820px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    padding: 20px;
}
.logo {
    float: left;
}
.navlink  {  
    list-style-type: none;
    gap: 15px;
    float: right;
    padding-right: 40px;
    text-decoration: none;  
    color: black;
    font-size: 10px;
    font-weight: 600;
}

/*MAIN*/
.main-main { 
    width: 820px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
}
.topdiv {
    width: 320px;
    float: left;
}
.main-p {
    margin: 2px;
    color: gray;
    font-size: 13px;
}
.topdiv > h1 {
    font-size: 40px;
    margin-top: 110px;
    font-weight: 900;
    
}
h1::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 95px;
    background-color: #554485;

}
.number {
    font-size: 65px;
    font-weight: 100;
    color: gray;
}
.spaceman {
 width: 500px;
}
.firstbtn ,
.secondbtn {
    margin-top: 40px;
    border-radius:42px;
    cursor:pointer;
    padding:10px 31px;
    border-color: #61438F;
    margin-bottom: 50px;
}
.firstbtn {
    color: white;
    background-color: #61438F;
}
.secondbtn {
    background-color: white;
    margin-left: 20px;
}

/*FOOTER*/
.mainfooter {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display:inline-block;
    margin-top: 30px;
}
.copy {
    float: right;
    font-size: small;
}
.socials > .link:hover {
    background-color: #662c8c;
    color: #fff;
    border-radius: 50%;
}
.socials > .link {
    height: 2em;
    width: 2em;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    color: #ccc;
    text-decoration: none;
}
.socials {
    float: left;
}