body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
/*HEADER*/
.main-header {   
    width: 820px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    padding: 20px;
}
.logo {
    justify-content:left;
    float: left;
}
.navlink  {  
    list-style-type: none;
    gap: 15px;
    float: right;
    padding-right: 40px;
    text-decoration: none;  
    color: black;
    font-size: 10px;
    font-weight: 600;
}

/*MAIN*/
.main-main { 
    width: 820px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
}
.topdiv {
    width: 320px;
float: left;
}
.main-p {
    margin: 2px;
    color: gray;
}
.topdiv > h1 {
    font-size: 45px;
    margin-top: 110px;
    margin-bottom: 50px;
}
.number {
    font-size: 65px;
    font-weight: 300;
    color: gray;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.spaceman {
 width: 500px;
}
.firstbtn ,
.secondbtn {
    margin-top: 40px;
    border-radius:42px;
    cursor:pointer;
    padding:10px 31px;
    border-color: #61438F;
}
.firstbtn {
    color: white;
    background-color: #61438F;
}
.secondbtn {
    background-color: white;
margin-left: 20px;
}

/*FOOTER*/
.mainfooter {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display:inline-block;
    margin-top: 30px;
}
.socials {
    width: 140px;
}
.copy {
    float: right;
    font-size: small;
}